.btn {
    display: block;
    width: 150px;
    height: 80px;
    border-radius: 50%;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: center;
    margin: 50px auto;
    cursor: pointer;


}
.primary {
    background-color: blue;
    }
.secondary {
    background-color: yellow;
}